<!--
 * @Author: your name
 * @Date: 2019-12-25 17:00:57
 * @LastEditTime : 2019-12-26 18:28:32
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \orm\templates\books.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/static/bootstrap.css">
</head>

<body>
  <header>
    <h1 class="text-center">书籍管理</h1>
  </header>

  <div style="padding: 20px 0;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-offset-2">
        <div><a href="http://127.0.0.1/book_add" class="btn btn-success btn-lg">添加书籍</a></div>
        <div style="padding: 20px 0;"></div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
              <th>价格</th>
              <th>发布时间</th>
              <th>编辑</th>
            </tr>
          </thead>
          <tbody>
            {% for item in  bock %}
            <tr class="active">
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.price}}</td>
              <td>{{item.pub_date|date:"Y-m-d"}}</td>
              <td class="text-center">
                <a href="http://127.0.0.1/book_update{{item.id}}" class="btn btn-sm btn-warning">修改</a>
                <button type="button" class="btn btn-sm btn-danger" onclick="del({{item.id}})">删除</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  function del(num) {
    if (confirm('确定要删除吗？')) {
      window.location = 'http://127.0.0.1/book_del' + num;
    } else {
      alert('删除失败！');
    }
  }
</script>